.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .appForm {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .welcomeText {
    /* Adjust font size for smaller screens */
    font-size: 30px;
    /* Center text horizontally */
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    /* Adjust image size for smaller screens */
    width: 50%;
    height: 30%;
  }

  .appForm {
    /* Reduce margin for better content fit */
    margin-top: 150px;
  }
}

.navbarContainer {
  position: fixed;
  left: 0px;
  top: 0px;
}

.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -150px;
}

.tree {
  width: 80%;
  height: auto;
  margin-top: auto;
}

.cartoon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appForm {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  height: -webkit-fill-available;
  justify-content: space-evenly;
}

.welcomeText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 60px;
  color: whitesmoke;
}

.image {
  width: 30%;
  height: 20%;
  animation-name: cartoon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes cartoon {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonHome {
  width: 150px;
  height: 80px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  border: 1px solid #468263;
  background-color: #468263;
  cursor: pointer;
  font-family: "Bebas Neue", "Black Ops One", system-ui, sans-serif;
}

.buttonHome:hover {
  background-color: #eb081b;
  border: 1px solid #eb081b;
}
